DesignerFiles/
__pycache__
Check_Ellipse_detection.py
Compile_opencv_centos7.txt
Automated_Marco_dev_TF2.py
Create_VirtualEnv.txt
Release_infoForGit.txt
Deprecated/
Uninstall.py
Manual_AMi_Image_Analysis.odt
tools/__pycache__
untitled0.py
Dockerfile
.git
.gitignore
.DS_Store
